header {
    height: 60px; 
    width: 800px;
    background-color: aquamarine; 
    text-align: center;
    font-family: sans-serif;
}

h4 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}
span {
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;  
}

h1 {
    color: darkblue;
}

#cell1a {
    background-color: #ffe57f;
    width: 200px;
    height: 200px;
}

#cell1b {
    background-color:  #ce77f6;
    width: 200px;
    height: 200px;
}

#cell1c {
    background-color: #ffc400;
    width: 200px;
    height: 200px;
}

#cell1d {
    background-color: #4fa7f4;
    width: 200px;
    height: 200px;
}

#cell2a {
    background-color: #ff8a80;
    width: 200px;
    height: 200px;
}

#cell2b {
    background-color: #68f96a;
    width: 200px;
    height: 200px;
}

#cell2c {
    background-color: #ff1744;
    width: 200px;
    height: 200px;
}

#cell2d {
    background-color: #ced500;
    width: 200px;
    height: 200px;
}

#cell3a {
    background-color: #80d8ff;
    width: 200px;
    height: 200px;
}

#cell3b {
    background-color: #fffc40;
    width: 200px;
    height: 200px;
}

#cell3c {
    background-color: #00b0ff;
    width: 200px;
    height: 200px;
}

#cell3d {
    background-color: #5600ea;
    width: 200px;
    height: 200px;
}
#cell4a {
    background-color: #ccff90;
    width: 200px;
    height: 200px;
}

#cell4b {
    background-color: #5975ff;
    width: 200px;
    height: 200px;
}

#cell4c {
    background-color: #76ff03;
    width: 200px;
    height: 200px;
}

#cell4d {
    background-color: #dd4217;
    width: 200px;
    height: 200px;
}